<h1>View User</h1>
<div class="panz-admin-body">
  <button mat-raised-button color="warn" (click)="onBackClick()">Back</button>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user?.email}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="https://www.pngitem.com/pimgs/m/226-2267516_male-shadow-circle-default-profile-image-round-hd.png" alt="Photo of a Shiba Inu" style="height: 200px; width: 200px;">
    <mat-card-content>
      <p>
       This will be replaced with the users information
      </p>
    </mat-card-content>
  </mat-card>
</div>

