div.container {
    display: flex;
    flex-wrap: wrap;

    .inner-container {
        padding: 1rem 1rem;
    }
}

.card-action{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}