<h1>Choose a membership subscription plan</h1>
<div  class="container">
  <div *ngFor="let membershipType of membershipTypes" class="inner-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{membershipType.name}}</mat-card-title>
        <mat-card-subtitle>Cost: ${{ membershipType.cost }}</mat-card-subtitle>
        <mat-card-subtitle>Valid Years: {{ membershipType.noOfYears }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="selectMembershipType(membershipType)">Select</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
