<h1>Choose a membership subscription plan</h1>
<div  class="container">
  <div *ngFor="let membershipType of membershipTypes" class="inner-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{membershipType.name}} Membership</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Cost: ${{ membershipType.cost }}</strong></p>
        <p><strong>Valid Years: {{ membershipType.noOfYears }} years</strong></p>
      </mat-card-content>
      <mat-card-actions class="card-action">
        <button mat-raised-button color="primary" (click)="selectMembershipType(membershipType)">Select</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
