.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.content-container {
  display: flex;
  height: 100%;
  margin-top: 4rem;
}

.example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 1.5rem 2rem;

}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


.example-spacer {
  flex: 1 1 auto;
}

.app-title {
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;

  button.mat-mdc-menu-trigger {
    margin-left: 1.5rem;
  }
}