<mat-card class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
        <div class="row">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="16px">
                    <mat-form-field appearance="outline">
                        <mat-label>Username:</mat-label>
                        <input matInput formControlName="username" placeholder="Enter your username">
                        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Password:</mat-label>
                        <input matInput formControlName="password" type="password" placeholder="Choose a password">
                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
                    </mat-form-field>
    
                    <div class="forgot-password">
                        <a routerLink="/password-reset">Reset Password</a>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
                <div class="signup-link">
                    Don't have an account? <a routerLink="/signup">Sign up</a>
                </div>
            </mat-card-actions>
        </div>
    </form>
</mat-card>