/* styles.css or your component's CSS file */

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  mat-card-header {
    text-align: center;
  }
  
  mat-card-title {
    font-size: 24px;
    text-align: left; 
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    width: 400px;
    margin-bottom: 16px;
  }
  
  mat-error {
    color: red;
    font-size: 14px;
  }
  
  .forgot-password {
    margin-top: 16px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
  }
  
  .signup-link {
    margin-top: 16px;
    text-align: center;
  }
  